<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>turquoise</string>
		<key>hex</key>
		<string>#1ABC9C</string>
		<key>rgb</key>
		<string>26,188,156</string>
	</dict>
	<dict>
		<key>name</key>
		<string>emerland</string>
		<key>hex</key>
		<string>#2ECC71</string>
		<key>rgb</key>
		<string>46,204,113,</string>
	</dict>
	<dict>
		<key>name</key>
		<string>peter-river</string>
		<key>hex</key>
		<string>#3498DB</string>
		<key>rgb</key>
		<string>52,152,219,</string>
	</dict>
	<dict>
		<key>name</key>
		<string>amethyst</string>
		<key>hex</key>
		<string>#9B59B6</string>
		<key>rgb</key>
		<string>52, 52,219</string>
	</dict>
	<dict>
		<key>name</key>
		<string>wet-asphalt</string>
		<key>hex</key>
		<string>#34495E</string>
		<key>rgb</key>
		<string>52,73,94</string>
	</dict>
	<dict>
		<key>name</key>
		<string>green-sea</string>
		<key>hex</key>
		<string>#16A085</string>
		<key>rgb</key>
		<string>22,160,133</string>
	</dict>
	<dict>
		<key>name</key>
		<string>nephritis</string>
		<key>hex</key>
		<string>#2ECC71</string>
		<key>rgb</key>
		<string>39,174,96</string>
	</dict>
	<dict>
		<key>name</key>
		<string>belize-hole</string>
		<key>hex</key>
		<string>#2980B9</string>
		<key>rgb</key>
		<string>41,128,185</string>
	</dict>
	<dict>
		<key>name</key>
		<string>wisteria</string>
		<key>hex</key>
		<string>#8E44AD</string>
		<key>rgb</key>
		<string>142,68,173</string>
	</dict>
	<dict>
		<key>name</key>
		<string>midnight-blue</string>
		<key>hex</key>
		<string>#2C3E50</string>
		<key>rgb</key>
		<string>44,62,80</string>
	</dict>
	<dict>
		<key>name</key>
		<string>sun-flower</string>
		<key>hex</key>
		<string>#F1C40F</string>
		<key>rgb</key>
		<string>241,196,15</string>
	</dict>
	<dict>
		<key>name</key>
		<string>carrot</string>
		<key>hex</key>
		<string>#E67E22</string>
		<key>rgb</key>
		<string>230,126,34</string>
	</dict>
	<dict>
		<key>name</key>
		<string>alizarin</string>
		<key>hex</key>
		<string>#E74C3C</string>
		<key>rgb</key>
		<string>231,76,60</string>
	</dict>
	<dict>
		<key>name</key>
		<string>clouds</string>
		<key>hex</key>
		<string>#ECF0F1</string>
		<key>rgb</key>
		<string>236,240,241</string>
	</dict>
	<dict>
		<key>name</key>
		<string>concrete</string>
		<key>hex</key>
		<string>#95A5A6</string>
		<key>rgb</key>
		<string>149,165,166</string>
	</dict>
	<dict>
		<key>name</key>
		<string>orange</string>
		<key>hex</key>
		<string>#F39C12 </string>
		<key>rgb</key>
		<string>243,156,18</string>
	</dict>
	<dict>
		<key>name</key>
		<string>pumpkin</string>
		<key>hex</key>
		<string>#D35400</string>
		<key>rgb</key>
		<string>211,84,0</string>
	</dict>
	<dict>
		<key>name</key>
		<string>pomegranate</string>
		<key>hex</key>
		<string>#C0392B</string>
		<key>rgb</key>
		<string>192,57,43</string>
	</dict>
	<dict>
		<key>name</key>
		<string>silver</string>
		<key>hex</key>
		<string>#BDC3C7</string>
		<key>rgb</key>
		<string>189,195,199</string>
	</dict>
	<dict>
		<key>name</key>
		<string>asbestos</string>
		<key>hex</key>
		<string>#7F8C8D</string>
		<key>rgb</key>
		<string>127,140,141</string>
	</dict>
</array>
</plist>
